@font-face {
font-family: 'master_of_break'; 
src: url('https://github.com/eliasalcantaras/donapula/blob/985f98d96fbe06dfc89950da15d421302839647e/master_of_break.woff2') format('woff2'); 
font-weight: normal; 
font-style: normal;
}
